<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet">
        <link rel="stylesheet" href="/icon-font.css">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

        <title>Aramis Sentry | Exciting tours for adventurous people</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="container">
                <header class="header">
                    <img src="/public/img/aramis-logo.png" alt class="logo">

                    <button class="menu-toggle">&#9776;</button>
                    <!-- Menu Icon -->

                    <nav class="user-nav">
                        <a href="#" class="user-nav__btn">Home</a>
                        <a href="services.html"
                            class="user-nav__btn">Services</a>
                        <a href="about.html" class="user-nav__btn">About Us</a>
                        <a href="gallery.html" class="user-nav__btn">Gallery</a>
                        <a href="contact.html"
                            class="user-nav__btn btn btn-active">Contact Us</a>
                    </nav>
                </header>

                <div class="hero">
                    <div class="text-box">
                        <h1 class="heading-primary">
                            <span class="heading-primary-main"> Event security
                                and
                                crowd
                                control.</span>
                            <span class="heading-primary-sub">We ensure a secure
                                and
                                seamless experience for your guests through our
                                professional event security services.</span>
                        </h1>
                        <a href="#" class="btn btn-active">Contact us</a>
                    </div>
                </div>
                <div class="proof">
                    <div class="stat">
                        <h1 class="stat-heading">
                            <span class="stat-heading__number">5+</span>
                            <span class="stat-heading__text">Years of
                                Expertise</span>
                        </h1>
                        <h1 class="stat-heading">
                            <span class="stat-heading__number">60+</span>
                            <span class="stat-heading__text">Event
                                secured</span>
                        </h1>
                        <h1 class="stat-heading">
                            <span class="stat-heading__number">30+</span>
                            <span class="stat-heading__text">Satisfied
                                Clients</span>
                        </h1>
                        <h1 class="stat-heading">
                            <span class="stat-heading__number">99%</span>
                            <span class="stat-heading__text">incident-free
                                record</span>
                        </h1>
                    </div>
                    <div class="trust">
                        <h1 class="trust-heading">
                            <span class="heading-secondary-main">
                                Security excels because we hire
                                professionals who care.
                            </span>
                            <span class="heading-secondary-sub">
                                We believe that exceptional security starts with
                                a
                                dedicated
                                team. That’s why we choose skilled professionals
                                who
                                prioritize safety, trust, and the well-being of
                                every
                                guest.
                            </span>
                        </h1>

                    </div>
                    <div class="highlight">
                        <div class="highlight-card">
                            <img alt="highlight-1" class="highlight-card__img"
                                src="/public/img/highlight-large-1.jpg">
                        </div>
                        <div class="highlight-card">
                            <img alt="highlight-1" class="highlight-card__img"
                                src="/public/img/highlight-3-small.jpg">
                        </div>
                        <div class="highlight-card">
                            <img alt="highlight-1" class="highlight-card__img"
                                src="/public/img/Native-4-cropped.jpg">
                        </div>
                        <div class="highlight-card"> <img
                                src="/public/img/sec_b-13.jpg" alt
                                class="highlight-card__img">
                        </div>
                    </div>
                </div>
                <section class="features">
                    <div class="features-text">
                        <h1 class="features-heading">
                            <span class="heading-secondary-main">
                                What we do
                            </span>
                            <span class="heading-secondary-sub">
                                We believe that exceptional security starts with
                                a
                                dedicated team. That’s why we choose skilled
                                professionals who prioritize safety, trust, and
                                the
                                well-being of every guest.
                            </span>
                        </h1>
                    </div>
                    <div class="features-highlight">
                        <div class="highlight-card card-text--1">
                            <div class="highlight-card__text">
                                <span class="heading-secondary-main">
                                    Event Surveillance
                                </span>
                                <p class="heading-secondary-sub">
                                    Ensure comprehensive security coverage for
                                    your
                                    event with our expert surveillance services.
                                    From
                                    strategic camera monitoring to on-ground
                                    patrols, we
                                    proactively identify and address potential
                                    risks.
                                    Our advanced surveillance solutions provide
                                    real-time monitoring, ensuring a safe and
                                    well-managed event environment.
                                </p>
                            </div>
                        </div>
                        <div class="highlight-card card-img">
                            <img src="/public/img//Native-15-cropped.jpg"
                                alt
                                class="highlight-card__img">
                        </div>
                        <div class="line"></div>
                        <div class="highlight-card card-img">
                            <img
                                src="/public/img//highlight-2-cropped.jpg"
                                alt
                                class="highlight-card__img">
                        </div>

                        <div class="highlight-card card-text--2">
                            <div class="highlight-card__text">
                                <span class="heading-secondary-main">
                                    Access Control
                                </span>
                                <p class="heading-secondary-sub">
                                    Maintain secure entry and exit points with
                                    our
                                    efficient access control systems. We manage
                                    guest
                                    verification, gatekeeping, and badge systems
                                    to
                                    ensure only authorized individuals gain
                                    access
                                    to
                                    restricted areas. Our meticulous approach
                                    minimizes
                                    risk and enhances the safety of all
                                    attendees.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="highlight-card card-text--3">
                            <div class="highlight-card__text">
                                <span class="heading-secondary-main">
                                    VIP Protection
                                </span>
                                <p class="heading-secondary-sub">
                                    Provide discreet and professional security
                                    for
                                    your
                                    high-profile guests. Our VIP protection
                                    services
                                    prioritize safety and privacy, with
                                    personalized
                                    strategies to mitigate potential threats and
                                    ensure
                                    a seamless experience for dignitaries,
                                    celebrities,
                                    executives, and other important attendees.
                                </p>
                            </div>
                        </div>
                        <div class="highlight-card card-img">
                            <img
                                src="/public/img//security-1-cropped.jpg"
                                alt
                                class="highlight-card__img">
                        </div>
                    </div>
                </section>
                <section class="contact">
                    <div class="background">
                        <div class="text-box">
                            <h1 class="heading-primary">
                                <h1 class="heading-primary-main"> Your Event's
                                    Safety
                                    Starts Here</h1>
                            </h1>
                            <p class="heading-primary-sub">Ensure a safe,
                                seamless event experience with our expert
                                security
                                services. From crowd management to VIP
                                protection,
                                we've got you covered every step of the
                                way.</p>
                            <a href="#" class="btn btn-active">Contact us</a>
                        </div>
                    </div>
                </section>
                <section class="testimonial">
                    <div class="testimonial-text">
                        <h1 class="testimonial-text__heading">
                            <span class="heading-secondary-main">
                                See what some of our client have to say
                            </span>
                            <span class="heading-secondary-sub">
                                We believe that exceptional security starts with
                                a
                                dedicated team. That’s why we choose skilled
                                professionals who prioritize safety, trust, and
                                the
                                well-being of every guest.
                            </span>
                        </h1>
                    </div>
                    <div class="slider-container">
                        <div class="testimonial-slider">
                            <div class="box-text">
                                <div class="quote-text">
                                    <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Laudantium porro
                                        obcaecati delectus doloribus, recusandae
                                        at vitae in esse adipisci ipsa quibusdam
                                        ducimus aliquid debitis fugiat voluptas
                                        ad, fugit iure et.</p>
                                </div>
                                <div class="quote-title">
                                    <span class="quote-title__name">James
                                        M</span>
                                    <span class="quote-title__role">Concert
                                        Organizer</span>
                                </div>
                            </div>
                            <div class="box-text">
                                <div class="quote-text">
                                    <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Quia mollitia
                                        voluptatem libero ipsa impedit magni
                                        dignissimos dolor dolorem aliquam totam
                                        possimus iste eveniet, nihil facilis quo
                                        ea repellendus deleniti aspernatur.p>
                                    </div>
                                    <div class="quote-title">
                                        <span class="quote-title__name">Sarah
                                            L.</span>
                                        <span class="quote-title__role">Event
                                            Manager</span>
                                    </div>
                                </div>
                                <div class="box-text">
                                    <div class="quote-text">
                                        <p>We entrusted them with VIP
                                            protection...</p>
                                    </div>
                                    <div class="quote-title">
                                        <span class="quote-title__name">Alex
                                            K</span>
                                        <span class="quote-title__role">Private
                                            Event Host</span>
                                    </div>
                                </div>
                                <div class="box-text">
                                    <div class="quote-text">
                                        <p>Another amazing review here...</p>
                                    </div>
                                    <div class="quote-title">
                                        <span class="quote-title__name">Lisa
                                            P</span>
                                        <span class="quote-title__role">Event
                                            Coordinator</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slider">
                            <button class="slider-nav prev-btn">
                            </button>
                            <button class="slider-nav next-btn">
                            </button>
                        </div>

                    </section>
                    <section class="choose">
                        <div class="background">
                            <div class="text-box">
                                <h1 class="heading-primary">
                                    <span class="heading-primary-main"> Why
                                        choose
                                        us</span>
                                </h1>
                                <span class="heading-primary-sub">We believe
                                    that
                                    exceptional security starts with a dedicated
                                    team.
                                    That’s why we choose skilled professionals
                                    who
                                    prioritize safety, trust, and the well-being
                                    of
                                    every
                                    guest.</span>
                            </div>
                            <div class="choose-highlight">
                                <div class="choose-highlight__card">
                                    <div class="card__header">
                                        <h2 class="card__header--title">Advanced
                                            Security Technology</h2>
                                        <span class="card__header--icon">
                                            <img class="card__header--icon-img"
                                                src="../dist/public/img//verified.png"
                                                alt="icon">
                                        </span>
                                    </div>
                                    <div class="card__body">
                                        <p class="card__body--text">From
                                            surveillance
                                            cameras to real-time monitoring, we
                                            leverage
                                            cutting-edge technology to enhance
                                            safety
                                            and response time.</p>
                                    </div>
                                </div>
                                <div class="choose-highlight__card">
                                    <div class="card__header">
                                        <h2 class="card__header--title">Highly
                                            Trained
                                            Security Professionals</h2>
                                        <span class="card__header--icon">
                                            <img class="card__header--icon-img"
                                                src="../dist/public/img//verified.png"
                                                alt="icon">
                                        </span>
                                    </div>
                                    <div class="card__body">
                                        <p class="card__body--text">From
                                            surveillance
                                            cameras to real-time monitoring, we
                                            leverage
                                            cutting-edge technology to enhance
                                            safety
                                            and response time.</p>
                                    </div>
                                </div>
                                <div class="choose-highlight__card">
                                    <div class="card__header">
                                        <h2 class="card__header--title">Tailored
                                            Security Solutions</h2>
                                        <span class="card__header--icon">
                                            <img class="card__header--icon-img"
                                                src="../dist/public/img//verified.png"
                                                alt="icon">
                                        </span>
                                    </div>
                                    <div class="card__body">
                                        <p class="card__body--text">From
                                            surveillance
                                            cameras to real-time monitoring, we
                                            leverage
                                            cutting-edge technology to enhance
                                            safety
                                            and response time.</p>
                                    </div>
                                </div>
                                <div class="choose-highlight__card">
                                    <div class="card__header">
                                        <h2 class="card__header--title">24/7
                                            Availability & Rapid Response</h2>
                                        <span class="card__header--icon">
                                            <img class="card__header--icon-img"
                                                src="../dist/public/img//verified.png"
                                                alt="icon">
                                        </span>
                                    </div>
                                    <div class="card__body">
                                        <p class="card__body--text">From
                                            surveillance
                                            cameras to real-time monitoring, we
                                            leverage
                                            cutting-edge technology to enhance
                                            safety
                                            and response time.</p>
                                    </div>
                                </div>
                                <div class="choose-highlight__card">
                                    <div class="card__header">
                                        <h2 class="card__header--title">Advanced
                                            Security Technology</h2>
                                        <span class="card__header--icon">
                                            <img class="card__header--icon-img"
                                                src="../dist/public/img//verified.png"
                                                alt="icon">
                                        </span>
                                    </div>
                                    <div class="card__body">
                                        <p class="card__body--text">From
                                            surveillance
                                            cameras to real-time monitoring, we
                                            leverage
                                            cutting-edge technology to enhance
                                            safety
                                            and response time.</p>
                                    </div>
                                </div>
                                <div class="choose-highlight__card">
                                    <div class="card__header">
                                        <h2 class="card__header--title">Proven
                                            Track
                                            Record of Client Satisfaction</h2>
                                        <span class="card__header--icon">
                                            <img class="card__header--icon-img"
                                                src="../dist/public/img//verified.png"
                                                alt="icon">
                                        </span>
                                    </div>
                                    <div class="card__body">
                                        <p class="card__body--text">From
                                            surveillance
                                            cameras to real-time monitoring, we
                                            leverage
                                            cutting-edge technology to enhance
                                            safety
                                            and response time.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <footer class="footer">
                        <div class="newsletter">
                            <div class="newsletter__body">
                                <h2 class="newsletter__title">Subscribe to our
                                    newsletter</h2>
                                <p class="newsletter__description">Subscribe to
                                    our
                                    newsletter to receive exclusive offers,
                                    discounts,
                                    and updates on new seaboards and
                                    experiences.</p>
                            </div>
                            <div class="newsletter__form">
                                <form action="#" class="form">
                                    <div class="form__group">
                                        <label for="email"
                                            class="form__label">Email
                                            Address</label>
                                        <input type="email" class="form__input"
                                            name="email" id="email">
                                        <button href="#"
                                            class="btn btn-active form__btn">Subscribe</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="footer__nav">
                            <div class="footer__nav--link">
                                <img src="../dist/public/img//aramis-logo.png"
                                    alt
                                    class="logo">
                                <span class="copyright">© Copyright 2020 Aramis_
                                    sentry.</span>
                                <span class="copyright">All rights
                                    reserved.</span>
                            </div>
                            <div class="footer__nav--link">
                                <h2 class="newsletter__title">Contact us</h2>
                                <span
                                    class="contact__list">Aramissentry@gmail.com</span>
                                <span class="contact__list">+234 90 3256
                                    831</span>
                                <span class="contact__list">+234 812 4356
                                    786</span>
                            </div>
                            <div class="footer__nav--link">
                                <h2 class="newsletter__title">Social</h2>
                                <span class="contact__list">Facebook</span>
                                <span class="contact__list">Instagram</span>
                                <span class="contact__list">Whatsapp</span>
                            </div>
                            <div class="footer__nav--link">
                                <h2 class="newsletter__title">Company</h2>
                                <span class="contact__list">Terms &
                                    Condition</span>
                                <span class="contact__list">Instagram</span>
                                <span class="contact__list">Whatsapp</span>
                            </div>
                        </div>
                    </footer>
                </div>

            </div>
            <script type="text/javascript" src="script.js"></script>
        </body>

    </html>