<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet">
        <link rel="stylesheet" href="/icon-font.css">
        <link rel="stylesheet" href="../dist/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

        <title>Aramis Sentry | Exciting tours for adventurous people</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="services-container">
                <header class="header">
                    <img src="../dist/public/img/aramis-logo.png" alt
                        class="logo">

                    <button class="menu-toggle">&#9776;</button>
                    <!-- Menu Icon -->

          <nav class="user-nav">
            <a href="../index.html" class="user-nav__btn">Home</a>
            <a href="services.html" class="user-nav__btn">Services</a>
            <a href="blog.html" class="user-nav__btn">Blogs</a>
            <a href="about.html" class="user-nav__btn">About Us</a>
            <a href="gallery.html" class="user-nav__btn">Gallery</a>
            <a href="contact.html" class="user-nav__btn btn btn-active"
              >Contact Us</a
            >
          </nav>
                </header>
                <div class="hero">
                    <div class="text-box">
                        <h1 class="heading-primary">
                            <span class="heading-primary-main"> Your Safety, Our
                                Priority.</span>
                            <span class="heading-primary-sub">We bring peace of
                                mind to your events with sharp, alert, and
                                professional security personnel who know how to
                                handle any crowd.</span>
                        </h1>
                        <a href="contact.html" class="btn btn-active">Contact
                            us</a>
                    </div>
                </div>
                <section class="features">
                    <div class="features-text">
                        <h1 class="features-heading">
                            <span class="heading-secondary-main">
                                Events Run Better with Aramis
                            </span>
                            <span class="heading-secondary-sub">
                                We’ve got the streets and suites on lock—from
                                local parties to major conferences, we secure it
                                all with style.
                            </span>
                        </h1>
                    </div>
                    <div class="features-highlight">
                        <div class="highlight-card card-text--1">
                            <div class="highlight-card__text">
                                <span class="heading-secondary-main">
                                    Bouncer Services for Nightlife Venues
                                </span>
                                <span class="heading-secondary-sub">
                                    Keep the vibes high and the trouble low. Our
                                    bouncers bring a perfect mix of authority
                                    and approachability to clubs, lounges, and
                                    parties—checking entry, maintaining order,
                                    and ensuring a safe atmosphere for guests
                                    and staff alike.
                                </span>
                            </div>
                        </div>
                        <div class="highlight-card card-img">
                            <img src="../dist/public/img/aramis-8.jpg"
                                alt
                                class="highlight-card__img">
                        </div>
                        <div class="line"></div>
                        <div class="highlight-card card-img">
                            <img
                                src="../dist/public/img/aramis-7.jpg"
                                alt
                                class="highlight-card__img">
                        </div>

                        <div class="highlight-card card-text--2">
                            <div class="highlight-card__text">
                                <span class="heading-secondary-main">
                                    Private Party Security
                                </span>
                                <span class="heading-secondary-sub">
                                    Whether it's a birthday bash, engagement
                                    party, or after-party, we keep things smooth
                                    and secure—so you and your guests can enjoy
                                    the moment without distractions.
                                </span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="highlight-card card-text--3">
                            <div class="highlight-card__text">
                                <span class="heading-secondary-main">
                                    Red Carpet & Celebrity Appearances
                                </span>
                                <span class="heading-secondary-sub">
                                    High-profile events demand high-level
                                    security. We manage crowd control,
                                    paparazzi, and access points to make sure
                                    stars can shine without safety concerns.

                                </span>
                            </div>
                        </div>
                        <div class="highlight-card card-img">
                            <img
                                src="../dist/public/img/aramis-21.jpg"
                                alt
                                class="highlight-card__img">
                        </div>
                    </div>
                </section>
                <section class="contact">
                    <div class="background">
                        <div class="text-box">
                            <h1 class="heading-primary">
                                <span class="heading-primary-main"> Your Event's
                                    Safety
                                    Starts Here</span>
                            </h1>
                            <span class="heading-primary-sub">Ensure a safe,
                                seamless event experience with our expert
                                security
                                services. From crowd management to VIP
                                protection,
                                we've got you covered every step of the
                                way.</span>
                            <a href="#" class="btn btn-active">Contact us</a>
                        </div>
                    </div>
                </section>
                <section class="choose">
                    <div class="background">
                        <div class="text-box">
                            <h1 class="heading-primary">
                                <span class="heading-primary-main">FAQs</span>
                            </h1>
                            <span class="heading-primary-sub">We're here to
                                answer all your questions.</span>
                        </div>
                        <div class="faq-highlight">
                            <div class="faq-highlight__card">
                                <input type="radio" class="card__checkbox"
                                    id="card__toggle-1" name="expander">
                                <label for="card__toggle-1"
                                    class="card__button"><div
                                        class="card__header">
                                        <div class="card__header--icon">
                                        </div>
                                        <h2 class="card__header--title">What
                                            types of events do you provide
                                            security for?</h2>
                                    </div></label>
                                <div class="card__body">
                                    <p class="card__body--text">We provide
                                        security for a wide range of events,
                                        including corporate gatherings,
                                        concerts, festivals, private parties,
                                        conferences, and sporting events. No
                                        matter the size or type, we tailor our
                                        security services to meet your
                                        needs.</p>
                                </div>
                            </div>
                            <div class="faq-highlight__card">
                                <input type="radio" class="card__checkbox"
                                    id="card__toggle-2" name="expander">
                                <label for="card__toggle-2"
                                    class="card__button"><div
                                        class="card__header">
                                        <div class="card__header--icon">
                                        </div>
                                        <h2 class="card__header--title">How do I
                                            book your security services?</h2>
                                    </div></label>
                                <div class="card__body">
                                    <p class="card__body--text">You can reach
                                        out via Instagram DM, phone, or our
                                        contact form. Let us know your event
                                        details, and we’ll get back to you with
                                        a customized plan.</p>
                                </div>
                            </div>
                            <div class="faq-highlight__card">
                                <input type="radio" class="card__checkbox"
                                    id="card__toggle-3" name="expander">
                                <label for="card__toggle-3"
                                    class="card__button"><div
                                        class="card__header">
                                        <div class="card__header--icon">
                                        </div>
                                        <h2 class="card__header--title">Are your
                                            security personnel trained?</h2>
                                    </div>
                                </label>

                                <div class="card__body">
                                    <p class="card__body--text">Yes. All our
                                        team members are professionally trained
                                        in crowd control, conflict resolution,
                                        and event-specific protocols.</p>
                                </div>
                            </div>
                            <div class="faq-highlight__card">
                                <input type="radio" class="card__checkbox"
                                    id="card__toggle-4" name="expander">
                                <label for="card__toggle-4"
                                    class="card__button"><div
                                        class="card__header">
                                        <div class="card__header--icon">
                                        </div>
                                        <h2 class="card__header--title">Do you
                                            provide VIP/bodyguard services?</h2>
                                    </div></label>

                                <div class="card__body">
                                    <p class="card__body--text">Absolutely. We
                                        offer discreet and reliable personal
                                        security for high-profile individuals,
                                        tailored to your specific movement and
                                        security needs.</p>
                                </div>
                            </div>
                            <div class="faq-highlight__card">
                                <input type="radio" class="card__checkbox"
                                    id="card__toggle-5" name="expander">
                                <label for="card__toggle-5"
                                    class="card__button"><div
                                        class="card__header">
                                        <div class="card__header--icon">
                                        </div>
                                        <h2 class="card__header--title">Can you
                                            work with other event vendors?</h2>
                                    </div></label>

                                <div class="card__body">
                                    <p class="card__body--text">Yes, we
                                        collaborate seamlessly with your event
                                        planners, venue managers, and other
                                        vendors to ensure everything runs
                                        smoothly.</p>
                                </div>
                            </div>
                            <div class="faq-highlight__card">
                                <input type="radio" class="card__checkbox"
                                    id="card__toggle-6" name="expander">
                                <label for="card__toggle-6"
                                    class="card__button"><div
                                        class="card__header">
                                        <div class="card__header--icon">
                                        </div>
                                        <h2 class="card__header--title">How far
                                            in advance should I book?</h2>

                                    </div></label>
                                <div class="card__body">
                                    <p class="card__body--text">We recommend
                                        booking at least 1–2 weeks in advance,
                                        especially for large events. However, we
                                        also accommodate last-minute requests
                                        when possible.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <footer class="footer">
                    <div class="newsletter">
                        <div class="newsletter__body">
                            <h2 class="newsletter__title">Subscribe to our
                                newsletter</h2>
                            <p class="newsletter__description">Subscribe to our
                                newsletter to receive exclusive offers,
                                discounts,
                                and updates on new seaboards and
                                experiences.</p>
                        </div>
                        <div class="newsletter__form">
                            <form action="#" class="form">
                                <div class="form__group">
                                    <label for="email" class="form__label">Email
                                        Address</label>
                                    <input type="email" class="form__input"
                                        name="email" id="email">
                                    <button href="#"
                                        class="btn btn-active form__btn">Subscribe</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="footer__nav">
                        <div class="footer__nav--link">
                            <img src="../dist/public/img//aramis-logo.png" alt
                                class="logo">
                            <span class="copyright">© Copyright 2020 Aramis_
                                sentry.</span>
                            <span class="copyright">All rights reserved.</span>
                        </div>
                        <div class="footer__nav--link">
                            <h2 class="newsletter__title">Contact us</h2>
                            <span
                                class="contact__list">Aramissentry@gmail.com</span>
                            <span class="contact__list">+234 90 3256 831</span>
                            <span class="contact__list">+234 812 4356 786</span>
                        </div>
                        <div class="footer__nav--link">
                            <h2 class="newsletter__title">Social</h2>
                            <span class="contact__list">Facebook</span>
                            <span class="contact__list">Instagram</span>
                            <span class="contact__list">Whatsapp</span>
                        </div>
                        <div class="footer__nav--link">
                            <h2 class="newsletter__title">Company</h2>
                            <span class="contact__list">Terms & Condition</span>
                            <span class="contact__list">Instagram</span>
                            <span class="contact__list">Whatsapp</span>
                        </div>
                    </div>
                </footer>
            </div>

        </div>
        <script type="text/javascript" src="../dist/js/script.js"></script>
    </body>

</html>
